.container-fluid {
  max-width: 600px;
}
.green-tiger-table {
  width: 100%;
}
::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 1.5rem;
}
.page-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.mat-row a {
  text-decoration: none;
}
th {
  font-size: 0.75rem;
  color: #2c3e50;
  vertical-align: bottom;
}
td {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.green-tiger-table tr:nth-child(even) {
  background-color: #f1f2f6;
}
.green-tiger-table tr:nth-child(odd) {
  background-color: #ffffff;
}
#new-rez-button {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
