.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  max-width: 850px;
}
.row {
  border-radius: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .form-holder {
    height: 100vh;  
    display: flex;  
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
  }
  .col-md-6 {
    width: 100%;
  }
  .image-holder {
    display: none;
  }
}
.form-holder,
.image-holder {
  margin-top: auto;
  margin-bottom: auto;
}
.message-bar {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
  border-radius: 14px;
}
.message-footer {
  margin-top: 1rem;
}
.message-header {
  margin-bottom: -2rem;
}
.green-tiger-table {
  width: 100%;
}
::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-row a {
  text-decoration: none;
}
th {
  font-size: 0.75rem;
  color: #2c3e50;
  vertical-align: bottom;
}
td {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.green-tiger-table tr:nth-child(even) {
  background-color: #f1f2f6;
}
.green-tiger-table tr:nth-child(odd) {
  background-color: #ffffff;
}
#new-rez-btn {
  margin-right: 1rem;
}
.page-title {
  margin-bottom: -0.1rem;
}
.logo img {
  max-height: 150px;
  width: auto;
  margin-bottom: 1.5rem;
}
