.container-fluid {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-tiger-table{
    width: 100%;
}

.green-tiger-table td {

  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.green-tiger-table tr:nth-child(even) {
  background-color: #7bed9f;
}

.green-tiger-table tr:nth-child(odd) {
  background-color: #ffffff;
}
.mat-cell {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-align: left;
}
th {
  text-align: center;
  vertical-align: bottom;
  font-size: 0.75rem;
  font-weight: bolder;
  color: #2f3542;
}
