.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-container {
  background-color: #dfe6e9;
  border-radius: 14px;
  max-width: 500px;
  width: 100vw;
}
h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}