<div class="container">
  <div class="row">
    <div class="image-holder col-md-6 text-center">
      <img
        src="assets/player-2.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>

    <div class="form-holder col-md-6 text-center">
      <div class="logo" *ngIf="isSmallScreen">
        <img src="assets/logo.png" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="table-content text-center">
      <p class="message-bar1 w-100 text-center">
        <ngb-alert class="message-bar" [dismissible]="false">
          <h2 class="message-header text-center">Uprav Rezervaci</h2>
        </ngb-alert>
      </p>
      <div class="form-container text-center">
        <app-table-form
          [initialState]="table"
          (formSubmitted)="editTable($event)"
          [showDeleteButton]="true"
        ></app-table-form>
      </div>
      <p class="message-footer w-100 text-center">
        <ngb-alert class="message-bar" [dismissible]="false">
          <div class="footer-buttons">
            <button
              type="button"
              [routerLink]="['/tables']"
              class="btn btn-outline-success"
              id="view-rez-btn"
            >
              Náhled rezervací
            </button>
            <button
              type="button"
              [routerLink]="['/home']"
              class="btn btn-outline-success"
            >
              Domů
            </button>
          </div>
        </ngb-alert>
      </p>
    </div>
  </div>
</div>
</div>
