.table-form {
  max-width: 560px;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin: 10px;
}
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field input {
  margin-top: 10px;  
}