<form
  class="table-form px-5"
  autocomplete="off"
  [formGroup]="tableForm"
  (ngSubmit)="submitForm()"
>
  <div class="form-floating mb-3">
    <input
      class="form-control"
      type="text"
      id="name"
      formControlName="name"
      placeholder="Name"
      required
    />
    <label for="name">Name</label>
  </div>

  <div
    *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="name.errors?.['required']">Name is required.</div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 3 characters long.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      class="form-control"
      type="text"
      formControlName="party"
      placeholder="party"
      required
    />
    <label for="party">Party Size</label>
  </div>

  <div
    *ngIf="party.invalid && (party.dirty || party.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="party.errors?.['required']">Party size is required.</div>
    <div *ngIf="party.errors?.['maxlength']">Party size must be 4 or 2.</div>
  </div>
  <!-- --------------------------------- -->
  <table class="table">
    <tbody>
      <tr class="text-center">
        <td>
          <div class="form-check d-flex justify-content-end">
            <input
              class="form-check-input"
              type="radio"
              formControlName="time"
              id="6:00a"
              value="6:00a"
              required
            />
            <label class="form-check-label ms-2" for="6:00AM">06:00AM</label>
          </div>
        </td>
        <td>
          <div class="form-check d-flex justify-content-start">
            <input
              class="form-check-input"
              type="radio"
              formControlName="time"
              id="8:00a"
              value="8:00a"
              required
            />
            <label class="form-check-label ms-2" for="08:00AM">08:00AM</label>
          </div>
        </td>
      </tr>
      <tr class="text-center">
        <td>
          <div class="form-check d-flex justify-content-end">
            <input
              class="form-check-input"
              type="radio"
              formControlName="time"
              id="10:00a"
              value="10:00a"
              required
            />
            <label class="form-check-label ms-2" for="10:00AM">10:00AM</label>
          </div>
        </td>
        <td>
          <div class="form-check d-flex justify-content-start">
            <input
              class="form-check-input"
              type="radio"
              formControlName="time"
              id="12:00p"
              value="12:00p"
              required
            />
            <label class="form-check-label ms-2" for="12:00PM">12:00PM</label>
          </div>
        </td>
      </tr>
      <tr class="text-center">
        <td>
          <div class="form-check d-flex justify-content-end">
            <input
              class="form-check-input"
              type="radio"
              formControlName="time"
              id="2:00p"
              value="2:00p"
              required
            />
            <label class="form-check-label ms-2" for="02:00PM">02:00PM</label>
          </div>
        </td>
        <td>
          <div class="form-check d-flex justify-content-start">
            <input
              class="form-check-input"
              type="radio"
              formControlName="time"
              id="4:00p"
              value="4:00p"
              required
            />
            <label class="form-check-label ms-2" for="04:00PM">04:00PM</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-footer text-center mb-5">
    <button
      class="submit-button btn btn-outline-primary me-2"
      type="submit"
      [disabled]="tableForm.invalid"
    >
      Submit
    </button>
    <a class="btn btn-outline-primary" href="/tables" role="button">Back</a>
  </div>
</form>
