<form
  class="table-form"
  autocomplete="off"
  [formGroup]="tableForm"
  (ngSubmit)="submitForm()"
>
<div class="mb-3">
  <input
    type="text"
    class="form-control border-success text-center"
    id="name"
    formControlName="name"
    required
    placeholder="Vložte jméno a příjmení"
  />
</div>
  <div
    *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="name.errors?.['required']">Vaše jméno musí být zadané.</div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 3 characters long.
    </div>
  </div>

  <div class="form-floating mb-3 w-100">
    <div ngbDropdown [formGroup]="tableForm">
      <button
        class="btn btn-outline-success dropdown-toggle w-100"
        id="partyDropdown"
        ngbDropdownToggle
        type="button"
      >
        {{
          tableForm.get("party")?.value === 1
            ? "rezerovat 1 hodinu"
            : tableForm.get("party")?.value === 2
            ? "rezerovat 2 hodiny"
              : tableForm.get("party")?.value === 24
                ? "rezerovat celý den (24 hodin)"
            : "Počet hodin"
        }}
      </button>
      <div ngbDropdownMenu aria-labelledby="partyDropdown">
        <button
          class="dropdown-item"
          type="button"
          (click)="tableForm.patchValue({ party: 1 })"
        >
          rezerovat 1 hodinu
        </button>
        <button
          class="dropdown-item"
          type="button"
          (click)="tableForm.patchValue({ party: 2 })"
        >
          rezerovat 2 hodiny
        </button>
        <button
          class="dropdown-item"
          type="button"
          (click)="tableForm.patchValue({ party: 24 })"
        >
          rezerovat celý den (24 hodin)
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="party.invalid && (party.dirty || party.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="party.errors?.['required']">Počet hodin musí být vybrané.</div>
  </div>

  <!--<div class="form-floating mb-3">
    <div ngbDropdown [formGroup]="tableForm">
      <button
        class="btn btn-outline-success dropdown-toggle w-100"
        id="timeDropdown"
        ngbDropdownToggle
        type="button"
      >
        {{ tableForm.get("time")?.value || "Select Start Time" }}
      </button>
      <div ngbDropdownMenu aria-labelledby="timeDropdown">
        <button
          class="dropdown-item"
          type="button"
          [disabled]="tableForm.get('time')?.value === '06:00'"
          (click)="tableForm.patchValue({ time: '06:00' })"
        >
          06:00AM
        </button>
        <button
          class="dropdown-item"
          type="button"
          [disabled]="tableForm.get('time')?.value === '08:00'"
          (click)="tableForm.patchValue({ time: '08:00' })"
        >
          08:00AM
        </button>
        <button
          class="dropdown-item"
          type="button"
          [disabled]="tableForm.get('time')?.value === '10:00'"
          (click)="tableForm.patchValue({ time: '10:00' })"
        >
          10:00AM
        </button>
        <button
          class="dropdown-item"
          type="button"
          [disabled]="tableForm.get('time')?.value === '12:00'"
          (click)="tableForm.patchValue({ time: '12:00' })"
        >
          12:00PM
        </button>
        <button
          class="dropdown-item"
          type="button"
          [disabled]="tableForm.get('time')?.value === '14:00'"
          (click)="tableForm.patchValue({ time: '14:00' })"
        >
          02:00PM
        </button>
        <button
          class="dropdown-item"
          type="button"
          [disabled]="tableForm.get('time')?.value === '16:00'"
          (click)="tableForm.patchValue({ time: '16:00' })"
        >
          04:00PM
        </button>
      </div>
    </div>
  </div>-->

  <div>

    <!--<input
      type="number"
      class="form-control border-success text-center"
      id="date"
      formControlName="date"
      required
      placeholder="date"
      [value]="unixDate"
      (input)="onUnixInputChange($event)"
    />-->

    <app-date-picker2
      (unixChanged)="onUnixChange($event)"
      [selectedDateFromParent] = "unixDate"
    >
    </app-date-picker2>


  </div>


  <div class="button-footer text-center mb-3">
    <button
      class="btn btn-success w-50"
      type="submit"
      [disabled]="tableForm.invalid"
    >
      Submit
    </button>
  </div>
</form>

<div class="button-footer text-center" *ngIf="showDeleteButton">
  <button class="btn btn-outline-danger w-50" (click)="deleteTable()">
    Delete
  </button>
</div>
