


<div class="container">
  <div class="row">
    <p>aaaaaaaaaaaaaaaaaaaaaa</p>
   <!-- <div class="image-holder col-md-6 text-center">
      <img src="../../../assets/grass-court-400x600.png" class="img-fluid" alt="Responsive image" />
    </div>-->
    <div class="form-holder col-md-12 text-center">
      <div class="logo" *ngIf="isSmallScreen">
        <img src="../../../assets/logo.png" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="table-content text-center">
        <p class="message-header">
          <ngb-alert class="message-bar" [dismissible]="false">
            <h2 class="page-title">Rezervace kurtu</h2>
          </ngb-alert>
        </p>
        <table
          class="green-tiger-table"
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="sortTable($event)"
        >
          <ng-container matColumnDef="name">
            <th
              class="header"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >
              Member
            </th>
            <td mat-cell *matCellDef="let table">
              <a [routerLink]="['edit/', table._id]">{{ table.name }}</a>
            </td>
          </ng-container>
          <ng-container matColumnDef="time">
            <th
              class="header"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >
              Začátek
            </th>
            <td mat-cell *matCellDef="let table">{{ table.time }}</td>
          </ng-container>

          <ng-container matColumnDef="party">
            <th
              class="header-player"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >
              Počet hodin
            </th>
            <td mat-cell *matCellDef="let table">{{ table.party }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th
              class="header-player"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >
              Datum
            </th>
            <td mat-cell *matCellDef="let table">{{ getDate2(table.selectedDate)  }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <p class="message-footer">
          <ngb-alert class="message-bar" [dismissible]="false">
            <div class="footer-buttons">
            <button
              type="button"
              [routerLink]="['/tables/new']"
              class="btn btn-outline-success"
              id="new-rez-btn"
            >
              Nová rezervace
            </button>
            <button
              type="button"
              [routerLink]="['/home']"
              class="btn btn-outline-success"
            >
              Domů
            </button>
          </div>
          </ngb-alert>
        </p>
        <div>

          <app-calendar-component>

          </app-calendar-component>
        </div>
      </div>
    </div>
  </div>

</div>
