<ul>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>Vyberte datum</mat-label>
      <input matInput
             [matDatepicker]="picker"
             [(ngModel)]='selectedDate'
             (ngModelChange)='onDateChange($event)'
             placeholder="dd.mm.yyyy"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </li>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>Vyberte čas</mat-label>
      <mat-select
        [(ngModel)]="selectedTime"
        (ngModelChange)="onTimeChange($event)"
      >
        <mat-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</mat-option>
      </mat-select>
    </mat-form-field>
  </li>



</ul>

<p>datum Od: {{ selectedDate | date: 'dd.MM.yyyy' }} : {{ selectedTime }}</p>
<p >{{unixDate}}</p>

