.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-container {
  margin-top: -4rem;
  padding: 3rem;
  background-color: #dfe6e9;
  border-radius: 14px;
}
ngb-alert{
  margin-top: 2rem;
  max-width: 250px;
}