<div class="container">
  <div class="row">
    <div class="image-holder col-md-6 text-center">
      <img src="assets/pink-balls-400x600.png" class="img-fluid" alt="Responsive image" />
    </div>
    <div class="form-holder col-md-6 text-center p-5">
      <div class="form-holder-content">
      <a
        ><img
          src="assets/logo.png"
          [routerLink]="['/home']"
          alt="club logo"
          class="club-logo"
          height="200"
      /></a>


      <p class="message-footer text-center">
        <ngb-alert class="message-bar" [dismissible]="false">
          <div class="footer-buttons">
            <button
          type="button"
          [routerLink]="['/tables/new']"
          class="btn btn-outline-success btn-lg"
        >
          Rezervace kurtu
        </button>
        </div>
        </ngb-alert>
      </p>
      <p class="message-footer text-center">
        <ngb-alert class="message-bar" [dismissible]="false">
          <div class="footer-buttons">
            <button
            type="button"
            [routerLink]="['/tables']"
            class="btn btn-outline-success btn-lg"
          >
            Náhled rezervací
          </button>
        </div>
        </ngb-alert>
      </p>
    </div>
  </div>
  </div>
</div>
