.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
.logo-container img,
.logo-container button {
  margin: 0 auto; /* This will center the logo and button elements horizontally */
  display: block; /* This will remove any default inline styling that may cause alignment issues */
}
