<div class="container">
  <div class="form-container">
    <div class="logo-div text-center mt-5">
      <a
        ><img
          src="assets/logo2.png"
          [routerLink]="['/home']"
          alt="club logo"
          height="100"
      /></a>
    </div>

    <p class="text-center mt-3">
      <ngb-alert [dismissible]="false">
      New Reservation<br><strong>{{ getDate() }}</strong>
      </ngb-alert>
    </p>

    <app-table-form (formSubmitted)="addTable($event)"></app-table-form>
  </div>
</div>
