<div class="container">
  <div class="row">
    <div class="image-holder col-md-6 text-center p-5">
      <img src="assets/player2.png" class="img-fluid" alt="Responsive image" />
    </div>

    <div class="form-holder col-md-6 text-center p-5">
      <p class="message-bar1 text-center">
        <ngb-alert class="message-bar" [dismissible]="false">
          New Reservation for:<br /><strong>{{ getDate() }}</strong>
        </ngb-alert>
      </p>
      <div class="form-container text-center">
        <app-table-form (formSubmitted)="addTable($event)"></app-table-form>
      </div>
      <p class="message-footer text-center">
        <ngb-alert class="message-bar" [dismissible]="false">
          <div class="footer-buttons">
          <button
            type="button"
            [routerLink]="['/tables']"
            class="btn btn-outline-success"
            id="new-rez-btn"
          >
            View Reservations
          </button>
          <button
            type="button"
            [routerLink]="['/home']"
            class="btn btn-outline-success"
          >
            Home
          </button>
        </div>
        </ngb-alert>
      </p>
    </div>
  </div>
</div>
